<div class = "center">
  <h2>A stategic boardgame for 2 players.</h2>
  <p>Win three games of Tic Tac Toe in a row.</br>
  You may only play in the big field that</br>
  corresponds to the last small field your</br>
  opponent played. When your are sent to a</br>
  field that is already decided, you can</br>
  choose freely.</p>

  <p>You can find a better write up of the rules <%= link_to "here", 'https://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/' %>.</p>

  <p>It should work on most devices.</br>
  Javascript and cookies should be enabled.</p>

  <p><%=link_to "Start a new game", games_path %></p>
</div>
